<%= simple_form_for(@negociator, as: :negociator, method: :post, url: company_negociators_path) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%= f.input :first_name, autofocus: true, label: "Prénom" %>
<%= f.input :last_name, autofocus: true, label: "Nom" %>

<%= f.input :company_id, :as => :hidden, input_html: {id: 'companies_id', value: params[:company_id] } %>

<div class="form-inputs"></div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
