<p id="notice"><%= notice %></p>

<h1>Negociators</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @negociators.each do |negociator| %>
      <tr>
        <td><%= link_to 'Show', negociator %></td>
        <td><%= link_to 'Edit', edit_negociator_path(negociator) %></td>
        <td><%= link_to 'Destroy', negociator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Negociator', new_negociator_path %>
