<%= render 'shared/navbar' %>
<div id="fondblanc">

<div class="row">
  <div class="col-xs-12 col-sm-7" style="overflow-y: auto; height: 93vh">
    <br>
    <% if @companies.size == 1  %>
    <h4 class="text-center"><strong>Pour vendre votre bien nous vous conseillons cette agence :</strong></h4>
    <% else %>
    <h4 class="text-center"><strong>Pour vendre votre bien nous vous conseillons ces agences :</strong></h4>
    <% end %>
      <% @companies.each do |u| %>
        <div class="card-resultat-recherche-foxfinder">
          <div class="contact-agence-recherche-foxfinder">
            <div class="photo-agence-card-resultat">
              <% if u.photo.present? %>
                <%= cl_image_tag u.photo.path, height: 110, width: 110 %>
              <% else %>
                <%= image_tag 'avatar.png', height: 110, width: 110 %>
              <% end %>

            </div>

              <h4><strong class="nom-agence"><%= link_to "#{u.company_name}", company_path(id: u.id)%></strong></h4>
            <div class="agence-nom-resultat" style="margin-top: 10px">


            </div>

          </div>
          <p class="text-center">note de vente</p>
          <p class="text-center"><%= u.sells_score %></p>
          <p class="text-center">délai de vente</p>
          <p class="text-center"><%= u.total_delay %></p>
        </div>
            <div class="card-perd-resultat-recherche">

              <p class="text-center" id="couleur-spécial" >


      <% end %>
    </div>
    <br>
</div>

</div>
