<%= render 'shared/navbar' %>

<div id="preloader">
  <div class="row">
    <div class=" vertical-align col-sm-4 col-sm-offset-4">
        <div class="loader"></div>
        <p class="phrase" id="1">
          <i class="fas fa-check"></i> Géolocalisation des bien(s) vendu(s) à proximité
        </p>
        <p class="phrase" id="2">
            <% nombre_agence = 3 %>
         <i class="fas fa-check"></i> Sélection des agences immobilières
        </p>
        <p class="phrase" id="3">

         <i class="fas fa-check"></i> Calcul des délais de vente
        </p>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(window).on('load', function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(3000).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(3000).css({'overflow':'visible'});
    })

        var timePeriodInMs = 0000;
  setTimeout(function()
  {
    document.getElementById("1").style.display = "block";
  },
  timePeriodInMs);
    var timePeriodInMs = 1000;
  setTimeout(function()
  {
    document.getElementById("2").style.display = "block";
  },
  timePeriodInMs);
    var timePeriodInMs = 2000;
  setTimeout(function()
  {
    document.getElementById("3").style.display = "block";
  },
  timePeriodInMs);

  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="ensemble-recherche-adresse-foxfinder">
        <div class="load_bar">
          <p id="active-foxfinder">1</p>
          <p id="active-foxfinder">2</p>
          <p id="active-foxfinder">3</p>
          <p id="active-foxfinder">4</p>
        </div>
      <div class="fond-formulaire" id="fond-formulaire-recherche-info">
        <div class="row">
          <div class="title-recherche-info-foxfinder">
            <!--     <h3 id="vous-yetes-presque">Vous y êtes presque !</h3> -->
            <h4>Veuillez renseigner vos coordonnés afin d'obtenir le résultat de votre recherche</h4>
          </div>
          <br>
          <%= form_tag carte_ventes_path, id: "address_input", method: :get, autocomplete: 'on' do %>
          <%= hidden_field_tag :location, params[:location], {id: 'address', class: "namanyay-search-box", placeholder: 'Adresse du bien à vendre', :required => true} %>
          <%= hidden_field_tag :room_type, params[:room_type], {class: "namanyay-search-box", placeholder: 'Adresse du bien à vendre', :required => true} %>
          <%= hidden_field_tag :nb_piece, params[:nb_piece], {class: "namanyay-search-box", placeholder: 'Adresse du bien à vendre', :required => true} %>

          <div class=" text-center">
            <div class="col-xs-12">
              <div class="indo-client-fox">
                <%= text_field_tag :nom, params[:nom], {class: "namanyay-search-box", placeholder: 'Nom', :required => true }%>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="indo-client-fox">
                <%= text_field_tag :prenom, params[:prenom], {class: "namanyay-search-box", placeholder: 'Prénom', :required => true } %>
              </div>
            </div>
              <div class="col-xs-12">
                <div class="indo-client-fox">
                <%= text_field_tag :email, params[:email], {class: "namanyay-search-box", placeholder: 'Email', :required => true, pattern: '^[_a-z0-9-]+(\\.[_a-z0-9-]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)+$'} %>
                </div>
              </div>
            <div class="col-xs-12">
              <div class="indo-client-fox">
                <%= text_field_tag :phone_form, params[:phone_form], {class: "namanyay-search-box", placeholder: 'Téléphone', :required => true, pattern: '^0[67](?:\d{8}|(?: \d\d){4}|(?:-\d\d){4})|\+33[67](?:\d\d){4}$'} %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="text-center bouton-recherche-foxfinder text-center" id="bouton-client-info-foxfinder">
              <%= submit_tag "Accéder au résultat", id: "namanyay-search-btn"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
