<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.address %></td>
        <td><%= property.price %></td>
        <td><%= link_to 'Show', company_property_path(company_id: current_company.id, id: property.id) %></td>
        <td><%= link_to 'Edit', edit_company_property_path(company_id: current_company.id, id: property.id), method: :get %></td>
        <td><%= link_to 'Destroy', company_property_path(company_id: current_company.id, id: property.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_company_property_path %>
