<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">
            Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !
          </h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>
              Comment rendre son déménagement moins stressant
            </strong>
          </h1>
        </div>
        <br><br>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/demenagement.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <br>
        <div class="margin-blog">
          <p>
            Un déménagement n’est jamais simple à vivre : changements, paperasses administratives, etc… En effet, 76% des Français se disent stressés par la paperasse qu’engendre un déménagement. Voici 3 astuces pour vous aider à vous détendre tout en
            déménageant.
            <br><br>
          </p>
        </div>
        <div class="margin-blog">
          <h3>
            <strong>1 - Prendre son temps</strong>
          </h3>
          <br>
          <p>
            La première astuce est la plus logique. Ce n’est pas simple de s’y prendre en avance pour un
            <a href="https://www.service-public.fr/particuliers/vosdroits/F14128" target="_blank" style="color: blue; text-decoration: underline;">déménagement</a>. Il peut être précipité pour différentes causes : mutation, situation personnelle, etc.
            <br><br>
            Si vous avez la chance de savoir environ un ou deux mois à l’avance que vous déménagez c’est l’idéal. Cela vous permettra de vous organiser au mieux pour faire vos cartons en avance ainsi que toutes vos démarches administratives petit à petit. Pour
            pouvoir accéder à Internet dès votre entrée dans le logement, il faudra prévoir entre 1 semaine et 3 semaines pour que le déménagement de votre box Internet soit effectif. Pour en savoir plus sur le déménagement de box, les délais, tarifs et la
            marche à suivre, rendez-vous sur
            <a href="https://www.boutique-box-internet.fr/demenagement/demenager-ma-box/" target="_blank" style="color: blue; text-decoration: underline;">cette page</a>.
            <br><br>
            De plus, vous allez pouvoir prévoir de quel matériel vous allez avoir besoin lors de votre déménagement. Vous pouvez calculer niveau capacité du camion qu'il vous faudra, aller faire des devis. Prenez des cartons solides, des ciseaux et du scotch
            large pour que vos cartons soient bien fermés et qu’il y ait moins de risques de casse.
            <br><br>
            Si vous n’avez pas de temps pour vous retourner et que vous déménagez dans moins de 10 jours, pas de panique. Certains fournisseurs Internet peuvent vous faire le changement en ligne en moins de 2 semaines. Concernant l’énergie, il existe des mises
            en service express. Cela se fait sous 5 jours, vous payez une somme plus importante qu’à la normale mais vous pouvez emménager et avoir de l’électricité et du gaz en arrivant. Si vous avez besoin d’un complément d’information sur la mise en service
            de l’électricité, vous pouvez lire
            <a href="https://www.fournisseur-energie.com/demenagement/mise-en-service-express-electricite/" target="_blank" style="color: blue; text-decoration: underline;">cet article</a>
            sur la mise en service express de l’électricité.
          </p>
        </div>
        <div class="margin-blog">
          <h3>
            <strong>2 - Se détendre</strong>
          </h3>
          <br>
          <p>
            Les moments de détente sont très importants avant et après un déménagement pour éviter trop de stress. Vous pouvez prendre du temps pour vous la soirée avant le déménagement : proposer à votre moitié un massage ou encore décider de prendre soin de
            votre peau. L’idéal est de prévoir un nettoyant, un gommage et une crème hydratante.
            <br><br>
            Le jour du déménagement ne perdez pas de temps à vous pomponner mais pensez bien à vous hydrater la peau. Après votre journée de dur labeur, vous pouvez opter pour un masque purifiant qui détoxifiera votre peau de toute la poussière qui vous avez
            accumulé sur vous. Pensez également à vos cheveux qui avec le stress, la fatigue et la poussière seront également avides d’une détox.
          </p>
        </div>
        <div class="margin-blog">
          <h3>
            <strong>3 - Faire appel à ses proches</strong>
          </h3>
          <br>
          <p>
            La famille, les amis peuvent être d’une très grande aide quand il s’agit de déménager. En effet, faire un déménagement avec ses proches peut apporter de la joie et des moments de rigolade. Faites appel à plus de monde que ce dont vous auriez besoin
            en cas de désistement de dernière minute.
          </p>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="enseblepub">
            <div class="compareruneagence">
              <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
              <div class="text-center margin-top margin-foxfinder">
                <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
              </div>
              <div class="margin-foxfinder-bouton text-center">
                <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
              </div>
            </div>

            <div class="text-center facebookcard">
              <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
      return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
