<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Plus-value immobilière </strong>
          </h1>
        </div>
        <div class="text-center photo-mobile">
        <%= image_tag "imageblog/plv.jpg", height: 300, id: "logo", class: "text-center" %>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>Qu’est ce que la plus-value immobilière ?</strong></h2>
          <div class="margin-blog">
            <p>Au moment d’une vente immobilière, il est fort probable que vous vendiez plus cher que le prix d’achat initial. Cette différence s’appelle la plus-value. Celle-ci est taxée au maximum à 34,5%, mais peut aussi être totalement exonérée. Il est donc important de calculer au préalable le montant d’impôt que vous allez devoir payer.
<br><br>
<h3>Les conditions de taxation de la plus-value immobilière</h3>
<br><br>
            </p>
          </div>
          <p><strong>1) Qui est assujetti à la taxation sur la plus-value ?</strong></p>
          <div class="margin-blog">
          <p>La taxation de la plus-value immobilière n’est pas destinée à tout le monde
          Toute personne domiciliée en France est imposée (métropolitaine et outre-mer à l’exception des collectivités d’outremer), que le bien soit situé en France ou à l’étranger, sauf dérogation des conventions internationales. <br>
          Sont imposables les personnes physiques ainsi que certaines personnes morales telles que les sociétés civiles immobilières (SCI) soumises à l’impôt sur le revenu.
          </p>
          </div>
          <p><strong>2) À quel moment devient-on imposable sur la plus-value immobilière ?</strong></p>
          <div class="margin-blog">
          <p>Pour être imposable à la plus-value immobilière, il faut répondre à certains critères :
            <br><br>
            <ul>
              <li>Réaliser une plus-value positive.</li>
              <li>Ne pas être sujet à une exonération.</li>
              <li>La cession doit être à titre onéreux.</li>
              <li>Elle doit porter sur un bien ou des droits immobilier (bâti ou non bâti).</li>
            </ul>
          </p>
          </div>
          <p><strong>3) Les cas d'exonération de taxation de la plus-value immobilière</strong></p>
          <div class="margin-blog">
          <p>Il existe de nombreuses possibilités qui permettent d’obtenir une exonération totale de la taxation de la plus-value immobilière
          <br><br>
          <strong>&emsp;&emsp;a) La cession de résidence principale</strong>
          <br><br>
          Quelle que soit la nature du bien vendu, la vente d'une résidence principale est exonérée de tout impôt au titre des plus-values.
          <br><br>
          Il suffit que le logement vendu constitue la résidence principale du vendeur au jour de la cession pour être exonéré. L'exonération s'applique aussi aux dépendances de la résidence principale, à condition qu'elles soient cédées en même temps que celle-ci. La vente d’une résidence principale est toujours exonérée d’impôt sur la plus-value. Cependant, il faut que votre logement constitue encore votre résidence principale au jour de la vente. Il existe des exceptions, comme par exemple, si vous déménagez avant la vente de votre logement. Par définition, il ne constitue plus votre résidence principale. Mais l’administration fiscale admet l’exonération si le logement était encore votre résidence principale jusqu’à la mise en vente et si elle intervient dans des délais normaux (au cours de l’année).
          <br><br>
          <strong>&emsp;&emsp;b) L'exonération résultant de la durée de détention du bien </strong>
          <br><br>
          La durée de détention vous permet de d’obtenir un abattement annuel de la taxation pour arriver à une exonération totale. La taxation est composée d’une part d’un impôt et d’autre part de prélèvements sociaux.
          <br><br>
          Vous aurez une exonération totale de l’impôt au bout de la 22ème année de détention et au bout de la 30ème année pour les prélèvements sociaux
          <br><br>
          Le délai court à partir de la date inscrite sur l’acte de vente ou, pour les propriétés non bâties, à partir de la date de début des travaux.
          <br><br>
<strong>&emsp;&emsp;c) La première vente d'une résidence secondaire </strong>
<br><br>
Pour ceux qui détiennent une résidence secondaire sans être propriétaires de leur résidence principale et qui ne veulent pas patienter 30 années avant d’être exonérés, sachez qu’il faut respecter trois conditions :
<br><br>
<ul>
  <li>La vente doit concerner votre résidence secondaire.</li>
  <li>Vous ne devez pas avoir été propriétaire de votre résidence principale au cours des quatre dernières années.</li>
<li>Vous devez réemployer cette somme dans les 24 mois suivants, dans l’acquisition ou la construction de votre résidence principale. L’exonération est appliquée pour la partie réinvestie.</li>
</ul>
<br><br>
<strong>&emsp;&emsp;d) La vente d’un logement situé dans une résidence pour retraités ou personnes invalides</strong>
<br><br>
Vous pouvez également être exonéré totalement de la taxation sur la plus-value si vous êtes une personne âgée en maison de retraite ou un adulte handicapé hébergé dans un foyer d’accueil.
<br><br>
Pour obtenir cette exonération, il faut :
<br><br>
<ul>
  <li>Vendre le logement dans un délai de deux ans maximum après l’avoir quitté.</li>
  <li>Qu’il n’ait pas été occupé depuis votre départ.
</li>
</ul>


Vous devez également respecter des critères en matières de ressources, basés sur les revenus de l’avant-dernière année précédant la vente :
<ul>
  <li>La première part du quotient familial ne doit pas dépasser 25 130€, 5 871€ pour la première demi-part et 4 621€ pour les demi-parts supplémentaires.</li>
  <li>Vous ne devez pas être soumis à l’impôt sur la fortune (ISF).</li>
</ul>
<br>
Si vous respectez toutes ces conditions, vous bénéficierez d’un délai de deux mois à partir du moment où vous quittez votre logement.
<br><br><br>
<p><strong>4) Exception :</strong></p> <br><br>

Si la vente intervient la première année après que vous ayez quitté le logement, vous pouvez bénéficier d’une exonération totale sans condition de ressources.
<br><br>
Le prix de vente n'excédant pas 15.000 €. <br><br>
Vous pouvez également avoir une exonération totale si la vente de votre bien n’excède pas 15 000€, ce qui peut vous être bénéfique en cas de vente d’un garage ou d’une cave.
<br><br>
La plus-value immobilière résulte d'une expropriation.
<br><br>
Cette plus-value est totalement exonérée, sous deux conditions :
<ul>
  <li>
  <strong>Déclaration d'utilité publique :</strong> l’expropriation est réalisée à la suite d’une déclaration d’utilité publique. Par contre, vous ne serez pas exonéré en cas de cession volontaire aux collectivités locales.
  </li>
  <li>
    <strong>Ré-emploi de l'indemnité par l’acquisition :</strong> à la suite de cette expropriation, vous devrez obligatoirement utiliser l’intégralité des sommes afin d’acquérir, d’agrandir ou encore de reconstruire un bien immobilier dans un délai d’un an après obtention de l’indemnité.
  </li>
</ul>
<strong>Vente de la résidence en France des non-résidents européens.</strong>
<br><br>
Les Français et les ressortissants d'états membres de la Communauté européenne, de la Norvège ou de l'Islande, installés à l'étranger, sont exonérés de l'impôt sur la plus-value lors de la cession de tout immeuble détenu en France (et non plus seulement leur habitation).<br><br>
L'exonération peut porter sur tout logement et non pas seulement sur l'habitation en France des non-résidents. L'exonération porte sur les cessions réalisées :
<br><br>
<ul>
  <li>Au plus tard le 31 décembre de la cinquième année suivant celle du transfert par le cédant de son domicile fiscal hors de France.</li>
  <li>Sans condition de délai, lorsque le cédant a la libre disposition du bien (c'est-à-dire que le bien n'est pas loué) au moins depuis le 1er janvier de l'année précédant celle de la cession.</li>
</ul>
<br><br>
L'exonération est limitée à une seule cession et ne peut concerner les contribuables ayant déjà bénéficié de l'exonération sur leur habitation en France.

          </p>
          </div>
          <h3>Calcul de la plus-value brute</h3>
          <div class="margin-blog">
          <p>La plus-value brute se détermine par le calcul suivant :
<strong>Plus-value brute = prix de vente corrigé - prix d'acquisition corrigé </strong>
<br><br>
<strong>Prix de vente corrigé.</strong>
<br><br>
Le prix de vente corrigé est le prix final auquel s’établit la transaction.
<br><br>
Vous devez majorer le prix de vente en cas d’indemnités ou de charges supplémentaires que l’acquéreur doit vous verser. Vous pouvez également déduire du prix de vente les frais utilisés pour la mise en vente de votre bien (diagnostics, frais de mainlevée)…
<br>
Pour diminuer le montant de la plus-value, il est possible de déduire du prix immobilier celui des biens mobiliers qui ne sont pas assujettis à l’impôt sur la plus-value. Il faudra cependant les justifier avec des factures et les mentionner dans le compromis de vente.
<br><br>
<strong>Prix d'acquisition corrigé.</strong>
Le prix d’acquisition corrigé est le prix payé par l’acquéreur lors de la signature de l’acte authentique.
<br><br>
Pour diminuer les frais d’impôt sur la plus-value, vous pouvez :
<br><br>
<ul>
  <li>Majorer le prix d’acquisition en ajoutant : les frais de notaire que vous avez payés lors de l’acquisition, ou un forfait de 7,5% si vous n’avez pas de facture.</li>
  <li>Ajouter les frais de travaux que vous avez réalisés, soit le montant réel avec un justificatif ou alors appliquer un forfait de 15% si vous n’avez aucun justificatif, et que vous êtes propriétaire depuis plus de 5 ans.</li>
</ul>
          </p>


          </div>
          <h3>Calcul de la plus-value imposable</h3>
          <div  class="margin-blog">
          <p>
La plus-value nette correspond à la plus-value brute à laquelle est déduit l’abattement de durée de détention.
          </p>
          </div>
      <p>Le calcul de l'abattement pour durée de détention pour l'impôt sur le revenu </p>
          <div  class="margin-blog">
          <p>
        Pour calculer l’abattement de l’impôt sur le revenu, il suffit de retirer :
        <br><br>
        <ul>
          <li>6% chaque année de la cinquième à la 21ème année</li>
          <li>4% pour la 22ème pour arriver à une exonération totale d’imposition sur le revenu</li>
        </ul>

        <strong>Le calcul de l'abattement pour durée de détention pour les prélèvements sociaux</strong>
        <br>
        Concernant les prélèvements sociaux, il suffit de retirer :
        <br><br>
        <ul>
          <li>* 1,65% de la 5ème année à la 22ème</li>
          <li>* 1,6% pour ou la 22ème</li>
          <li>* 9% pour chaque année supplémentaire jusqu’à exonération totale de prélèvements sociaux la 30ème année.</li>
        </ul>
          </p>
          </div>
       <h3>Le calcul de l'imposition</h3>
          <div  class="margin-blog">
          <p>
Pour obtenir votre montant d’imposition, vous devrez calculer votre plus-value imposable et y appliquer le taux d’imposition.
<br><br>
Vous devrez payer des prélèvements sociaux ainsi qu’un impôt :
<br><br>
<ul>
  <li>19 % de taxation au titre de l'impôt sur le revenu</li>
  <li>15,5 % de prélèvements sociaux (CSG, CRDS et prélèvement social).</li>
</ul>
          </p>
          </div>
   <h3>Comment paie t-on l'impôt ?</h3>
          <div  class="margin-blog">
          <p>
Le paiement de l’impôt se fait chez le notaire lors de la signature de l’acte authentique. Il suffit d’une déclaration spécifique. Si vous êtes exonéré de l’impôt, vous n’aurez aucune déclaration à effectuer. La raison de l’exonération devra néanmoins être stipulée dans l’acte.
          </p>
          </div>
             <h3>Une surtaxe pour les plus-values supérieures à 50.000 €.</h3>
          <div  class="margin-blog">
          <p>
Il existe une surtaxe pour les plus-values supérieures à 50 000€, mais uniquement sur les logements.
          </p>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
<div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

    <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
