<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">
            Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !
          </h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>
              Les frais de notaire
            </strong>
          </h1>
        </div>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/unnamed.jpg", height: 300, id: "logo", class: "text-center" %>
        </div>

        <div class="margin-blog">
          <p>
            Lors de la vente de votre bien, vous serez confronté à plusieurs professionnels. Vous rencontrerez, en dernier lieu, le notaire qui établira l’acte authentique pour finaliser la vente. Les frais d’acquisition représentent entre 6% et 8% du prix net
            vendeur de votre bien, répartis entre la rémunération du notaire et des impôts et taxes. FoxFinder, votre comparateur d’agences immobilières pour propriétaires, répond aux questions essentielles que se posent les vendeurs sur la signature finale.
            <br><br>
            Cependant, derrière ce terme barbare, se cachent plusieurs taxes et frais, répartis en plusieurs catégories :
            <ul>
              <li>
                les émoluments
              </li>
              <li>
                les débours
              </li>
              <li>
                les honoraires
              </li>
              <li>
                les droits et taxes
              </li>
            </ul>
          </p>
        </div>
        <div class="margin-blog">
          <p>
            <strong>Qui paye les frais de notaire ?
            </strong>
          </p>
          <br>
          <p>Les frais d’acte de vente sont généralement payés par l’acquéreur du bien immobilier (article 1593 du code civil). Ce coût, non négligeable, représente environ entre 6% et 8% du prix net vendeur. Il est donc à prendre en considération lors du
            calcul du prix de vente de votre bien immobilier.
          </p>
        </div>
        <div class="margin-blog">
          <p>
            <strong>Peut-on contourner les frais de notaire ?
            </strong>
          </p>
          <br>
          <p>
            Grâce à l’implication du notaire, l’acte obtient :
            <br><br>
            <strong>
              - Une date certaine
            </strong>
            <br><br>
            Un acte « authentique à date certaine » signifie que la date ne peut être remise en cause, contrairement à l’acte « sous seing privé » qui nécessite un enregistrement pour obtenir cette qualité.
            <br><br>
            <strong>
              - La force probante
            </strong>
            <br><br>
            La force probante permet à votre document d’avoir une portée juridique et un caractère incontestable devant un juge.
            <br><br>
            <strong>
              - La force exécutoire
            </strong>
            <br><br>
            Un acte notarié a force exécutoire de plein droit contrairement aux actes sous seing privé qui, eux, doivent préalablement être présentés à un juge afin d’obtenir une exception forcée.
            <br><br>
            <strong>
              - Une conservation garantie
            </strong>
            <br><br>
            L’acte authentique bénéficie d’une conservation garantie pour une durée d’au moins 75 ans dans les archives du notaire mais également au greffe du tribunal.
          </p>
        </div>
        <div class="margin-blog">
          <h3>
            <strong>La composition des frais de notaire
            </strong>
          </h3>
          <p>
            <br>
            <strong>Droits et taxes :</strong>
            <br><br>
            Les impôts et taxes, appelés « droits d’enregistrement », comprennent plusieurs sommes, telles que la taxe de publicité foncière du bien, la TVA… Elles sont ensuite reversées au Trésor Public par le notaire pour le compte de l’Etat et des
            collectivités territoriales. Ce montant varie, d’une part, en fonction de la valeur mais également de l’emplacement géographique du bien.
            <br><br>
            <strong>
              Les frais et débours :
            </strong>
            <br><br>
            Il s’agit des sommes versées par le notaire pour le compte de son client. Elles rassemblent plusieurs frais nécessaires à la constitution de l’acte mais aussi au règlement de différents intervenants et documents : frais de syndic, inscription
            garantie hypothécaire, extrait de cadastre… Le notaire vous informera, au préalable, du détail des sommes à régler.
            <br><br>
            <strong>La rémunération du notaire : les émoluments et les honoraires</strong>
            <br><br>
            Ils sont tous deux perçus en contrepartie d’une prestation.
            <br><br>
            <strong>Les émoluments :
            </strong>
            <br><br>
            Le montant est fixé par l’Etat et est le même sur tout le territoire. Les émoluments peuvent, eux, être soient fixes, soient proportionnels suivant le type de prestations réalisées.
            <br><br>
            <strong>Les honoraires :
            </strong>
            <br><br>
            En complément des émoluments viendront s’ajouter les honoraires du notaire, dont le montant n’est, lui, pas réglementé. Le détail des frais vous sera précisé, une fois la signature de l’acte effectuée.
          </p>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="enseblepub">
            <div class="compareruneagence">
              <h2 class="text-center" style="font-size: 22px;">
                Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !
              </h2>
              <div class="text-center margin-top margin-foxfinder">
                <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
              </div>
              <div class="margin-foxfinder-bouton text-center">
                <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
              </div>
            </div>

            <div class="text-center facebookcard">
              <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
      return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
