<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>9 architectures originales à travers le monde. </strong>
          </h1>
        </div>

        <h2 class="text-center" style="font-size: 22px;">
          <strong>1) La maison hélicoptère: Lyon (rhones)</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/helicoptere.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <p>
          Cette magnifique bâtisse construite sur pilotis est située dans la région du Rhône. Appelée “maison hélicoptère", elle tient son nom du fait que l’intégralité de son toit est une piste d'hélicoptère. En plus de sa piste d'atterrissage pour votre hélicoptère personnel, elle vous offre un magnifique espace de vie et une vue splendide de son balcon !
        </p>
        <h2 class="text-center" style="font-size: 22px;"><strong>2) Edgeland house par Bercy Chen Studio
</strong></h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maison1.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
        <p>
          Cette maison écologique basée au Texas se caractérise par son architecture très originale. En s’inspirant des maisons semi-enterrées des amérindiens, cette maison tient sa principale particularité de son toit entièrement constitué de végétation qui lui offre une parfaite inertie avec la terre. Ce toit lui permet de maintenir une température fraîche l’été et chaude l’hiver.


        </p>
        </div>
          <div class="text-center">
          <%= image_tag "imageblog/maison2.png", height: 150, id: "logo", class: "text-center" %>
          <%= image_tag "imageblog/maison3.png", height: 150, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
            <p>
              Afin de bénéficier d'un maximum de luminosité possible, cette maison est divisée en deux parties, constituées de baies vitrées et séparées par une magnifique terrasse. En plus de sa construction innovante et écologique, cette maison offre un intérieur avec un design exceptionnel et de très grands espaces de vie.
            </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>3) Allandan house de William O’brien Jr</strong></h2>
          <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maison4.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
            Cette maison est la représentation moderne de la cabane. Située au milieu de la forêt, elle se caractérise par sa forme triangulaire qui l’élance en hauteur avec les arbres. Elle est la représentation parfaite du calme de la campagne et de la nature.
          </p>
        </div>
          <div class="text-center">
            <%= image_tag "imageblog/maison5.png", height: 150, id: "logo", class: "text-center" %>
            <%= image_tag "imageblog/maison6.png", height: 150, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Son intérieur, fait d’un design moderne et épuré, installe une ambiance apaisée. Parfait pour lire un livre avec une vue magnifique sur le calme de la forêt.</p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>4) Villa verte par Ciel Rouge Création</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maison7.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>En plus de son intérieur, elle vous permet de vous installer sur la terrasse afin de vous détendre en profitant d’une brise d’air frais.
          <br>
          La villa “verte” est un projet réalisé par la société Ciel Rouge Création. Ce projet allie luxe et écologie. Sa forme arrondie permet d’avoir une visibilité à 360° sur la beauté de la nature environnante. Son toit recouvert de végétation permet d'allier le luxe à l'environnement.
          </p>
        </div>
          <div class="text-center">
            <%= image_tag "imageblog/maison8.png", height: 150, id: "logo", class: "text-center" %>
            <%= image_tag "imageblog/maison9.png", height: 150, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
             Les baies vitrées permettent de bénéficier du maximum de luminosité dans toute la maison. La villa possède aussi d'une très belle piscine avec vue sur la nature et une grande terrasse pour profiter de l’extérieur.
          </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;">
            <strong>
              5) Casa finisterra Steven Harris “Mexique”
            </strong>
          </h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maison10.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
           Cette villa, intégrée à même la roche, est une prouesse architecturale ultra moderne alliant pierre et béton. Cette construction sur le flanc d’une colline offre une vue imprenable sur l'océan pacifique. De plus, cette villa bénéficie d'un accès privilégié à l'océan en plus de sa piscine privative.
          </p>
        </div>
          <div class="text-center">
            <%= image_tag "imageblog/maison11.png", height: 150, id: "logo", class: "text-center" %>
            <%= image_tag "imageblog/maison12.png", height: 150, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
            L’intérieur est tout aussi imposant que le cadre. Avec un style Art déco. Agréable lieu de vie.

          </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>6) Altamira Ranch de Marmol Radziner</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maison13.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Cette villa, construite sur la côte de la péninsule de Palos Verdes, se caractérise par son architecture étudiée pour être en adéquation avec le site de construction. L’utilisation de la végétation en grande quantité pour l'extérieur manifeste la volonté de cette villa de ne faire qu’un avec le paysage.</p>
        </div>
          <div class="text-center">
            <%= image_tag "imageblog/maison14.png", height: 150, id: "logo", class: "text-center" %>
            <%= image_tag "imageblog/maison15.png", height: 150, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Vous pourrez profiter de la vue sur l'océan depuis la piscine extérieure, mais aussi profiter d’un intérieur sublime. Cette maison se caractérise comme le lieu de vie parfait pour une famille californienne.</p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>7) La maison containers</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maison16.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Cette initiative se manifeste dans une démarche écologique également. Le fait de récupérer des containers en fin de vie pour en faire une demeure caractérise parfaitement le logement durable et le résultat final est époustouflant.</p>
        </div>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maison17.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Ce type de bâtiment satisfait tous les goûts : avec une entrée de gamme abordable et du haut gamme. La seule limite est votre imagination. L’intérieur de ces containers réhabilités est exactement le même que celui d’une maison ordinaire.</p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>8) La maison troglodyte de Dick Clark “Californie”.</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maison18.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Niveau originalité cette maison ne va pas vous décevoir ! En effet pour la modique somme de 3,5 millions d'€, il est possible de retourner vivre chez les Hommes des cavernes. Ne vous inquiétez pas vous trouverez tout de même l’eau et l'électricité à l’intérieur.</p>
        </div>
          <div class="text-center">
            <%= image_tag "imageblog/maison19.png", height: 150, id: "logo", class: "text-center" %>
            <%= image_tag "imageblog/maison20.png", height: 150, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>La volonté de l’architecte à reproduire un modèle authentique va même jusqu’au mobilier qui imite les matériaux de l’époque. En incluant cependant, les technologies de nos jours. Vous pourriez donc dormir dans le lit d’un homme des cavernes tout en regardant votre série à la télévision.</p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>9) Cabane de luxe dans les arbres</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maison21.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Cette maison est le rêve d’enfance de beaucoup ! Une Cabane nichée en plein milieu de la forêt australienne. Avec pour seuls voisins les arbres. Le but de cette bâtisse est de créer un bâtiment qui à un impact minimal sur son environnement. L’utilisation de bois permet à cette cabane de se fondre dans le décor et ainsi ne pas dénaturer le paysage.
          </p>
        </div>
          <div class="text-center">
            <%= image_tag "imageblog/maison22.png", height: 150, id: "logo", class: "text-center" %>
            <%= image_tag "imageblog/maison23.png", height: 150, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>En plus d’un environnement magnifique, cette cabane vous offre un intérieur très design avec un mobilier principalement fait de bois en adéquation avec les matériaux de construction. Vous pourriez aussi vous détendre dans la piscine en profitant du bruit apaisant de la forêt.</p>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
<div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

    <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
