<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Comment vendre son bien immobilier</strong>
          </h1>
        </div>
        <div class="text-center photo-mobile">
          <%= image_tag "forsale.jpg", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="introduction-article">
          <p>
            Vendre son bien immobilier est une étape importante dans la vie de chacun. Il est donc important d’en connaître les étapes clefs afin de vendre de manière rapide et efficace.
            <br>
            Vous êtes en plein projet de vente, mais de nombreuses questions vous traversent l’esprit : estimation, mise en vente, obligations, frais…
            <br>
            Ne vous inquiétez pas FoxFinder, votre comparateur d’agences immobilières pour propriétaires, vous livre les étapes clefs d’une vente réussie.
          </p>
        </div>

        <div class="corp-article">

          <h2 style="font-size: 22px;">
            <strong>Vendre entre particulier ou par une agence immobilière ?</strong>
          </h2>

          <p>
            Pour la vente de votre logement, deux choix s’offrent à vous, vendre par vous-même ou passer par l’intermédiaire d’un professionnel de l’immobilier.
            <br>
            <strong>De particulier à particulier.</strong>
            Très utilisée en France, cette méthode de vente nécessite tout de même de nombreuses connaissances au niveau du marché et en législation. Sachez que mettre son bien en vente entre particuliers n’est pas une partie de plaisir et nécessite un
            investissement en temps conséquent. Si tel est votre choix mettez au point une stratégie claire et soyez patient.
            <br>
            L’autre option est de mettre en vente votre bien immobilier
            <strong>chez un professionnel</strong>. Grâce à ses connaissances du marché, il permettra une mise en vente efficace avec une stratégie de communication adaptée. De plus, les honoraires d’entremises sont à payer uniquement s'il y a réalisation de la
            transaction. Cela vous permet d’accéder à un service de qualité sans débourser le moindre centime.
            <br>
            Maintenant, l’un n’exclut pas l’autre. Si vous signez un mandat de vente non-exclusif à une agence, vous pourrez également essayer de le vendre entre particuliers.
            <br><br>
            Comment choisir la bonne agence ?
            <br><br>
            Comparateur d’agences immobilières, FoxFinder vous permet de sélectionner les meilleures agences ayant vendu des biens similaires à proximité du vôtre !
          </p>

          <h2 style="font-size: 22px;">
            <strong>Choisir entre le mandat exclusif et le mandat simple</strong>
          </h2>

          <p>
            Si vous mettez en vente par l’intermédiaire d’un professionnel, il sera obligatoire de signer un mandat de vente lui permettant de commercialiser votre bien immobilier.
            <br>
            Le plus courant, le mandat de vente simple, vous permet de proposer votre logement à plusieurs agences et également de le vendre par vos propres moyens. Multiplier les agences permettra à votre bien d’être vu en masse par les candidats acheteurs, et
            d’avoir une communication accrue. Cependant, cet excès de visibilité peut nuire gravement à la vente de votre bien immobilier. En effet, elle le discréditera vis-à-vis des candidats acquéreurs et passera pour un bien de « mauvaise qualité ». Les
            conséquences sont non-négligeables : négociations plus importantes et délai de vente prolongé.
            <br>
            Le plus efficace, le mandat exclusif, il vous engage vis-à-vis d’une seule et unique agence. Ne pensez pas qu’une communication limitée est synonyme d’une vente longue et fastidieuse. Une prospection ciblée vous permettra d’attirer les clients de
            qualité et de vendre plus rapidement. De plus, un mandat exclusif est gage de qualité, le délai de vente est en moyenne réduit de moitié et les négociations sont faibles, mais toujours à condition que votre bien soit au bon prix.
          </p>

          <h2 style="font-size: 22px;">
            <strong>Vendre votre bien au juste prix, la clef de la réussite</strong>
          </h2>

          <p>
            Évaluer un bien immobilier ne s’improvise pas et nécessite des connaissances pointues sur le marché et les prix pratiqués. De nombreuses solutions existent pour estimer en ligne, mais ne donnent qu’une fourchette large. Il est plus raisonnable de
            faire appel à un ou plusieurs professionnels afin d’avoir un prix plus précis.
            <br>
            <strong>Notre conseil :</strong>
            N’essayez pas de vendre au-dessus du prix du marché, cela prolongera votre délai de vente pour finalement vendre en dessous de ce dernier.
          </p>

          <h2 style="font-size: 22px;">
            <strong>Réaliser les diagnostics obligatoires</strong>
          </h2>

          <p>
            Certains documents sont obligatoires à la vente de votre bien immobilier, vous devrez les fournir à l’acheteur et les faire réaliser par un professionnel agréé. Ils varient en fonction du bien, de sa localisation et de sa date de construction.
          </p>

          <ul>
            <li>
              Le diagnostic Loi Carrez. Pour les biens en copropriété. Il est valable à vie s’il n’y a pas eu de modification sur celui-ci.
            </li>
            <li>
              Le diagnostic Plomb (CREP). Concerne tous les biens construits avant 1949, sa validité est d'un an et illimité s'il y a absence de plomb.
            </li>
            <li>
              Le diagnostic Amiante. Concerne tous les biens construits avant 1997, sa validité est de 3 ans et illimité s’il y a absence d’amiante.
            </li>
            <li>
              Le diagnostic Termite. Obligatoire uniquement dans les zones concernées. Validité de 6 mois.
            </li>
            <li>
              Le diagnostic Gaz. Concerne tous les biens dont l’installation de gaz à plus de 15 ans, sa validité est de 3 ans.
            </li>
            <li>
              L’État des risques naturels miniers et technologiques (ERNMT). Obligatoire pour tous les biens, sa validité est de 6 mois.
            </li>
            <li>
              Le diagnostic de performance énergétique (DPE). Obligatoire pour tous les biens, sa validité est de 10 ans.
            </li>
            <li>
              Le diagnostic électricité. Obligatoire pour tous les biens dont l’installation électrique a plus de 15 ans.
            </li>
            <li>
              Le diagnostic assainissement. Obligatoire pour les tous les biens non raccordés au réseau public de collecte des eaux usées, la validité est de 3 ans.
            </li>
          </ul>
          <p>
            Leur coût varie entre 80 et 100€ l’unité.
          </p>

          <h2 style="font-size: 22px;">
            <strong>Valoriser son bien immobilier pour une vente réussie</strong>
          </h2>

          <p>
            Quelques secondes suffisent pour déclencher le coup de cœur chez l’acquéreur. Il est donc indispensable de rendre son bien immobilier attrayant. Certaines astuces permettent de le favoriser et sont essentielles pour vendre rapidement. De plus, elles
            permettent de réduire considérablement la marge de négociation (de 5 à 10% en moyenne) dans ce marché ou les acquéreurs font la loi.
          </p>
          <br>
          <p>
            <strong>1) Dépersonnaliser son logement.</strong>
          </p>
          <br>
          <p>
            Cela permettra aux acquéreur de se projeter plus facilement et d’avoir une vision plus claire. Mettez vous à la place de l’acheteur, il faut qu’il se sente comme chez lui, retirez bien chaque touche d’intimité : photos, tableau, poster. Il faut
            penser qu’a partir du moment ou la décision de vendre est prise, votre bien immobilier devient un produit commercial et il faut le rendre attrayant et destiné à tout le monde
          </p>
          <br>
          <p>
            <strong>2) Réaliser tous les travaux nécessaires.</strong>
          </p>
          <br>
          <p>
            Un logement avec travaux est un logement avec problème aux yeux de l’acquéreur, il est donc important de les réaliser au préalable. Il s’agit de faire toutes les petites rénovations qui nuisent à l’image de votre bien en vente. Une tache sur le mur,
            des joints de douches sales, une porte qui ferme mal, etc. En effet, lorsque le candidat acquéreur se présentera chez vous, il cherchera principalement ce qui ne fonctionne pas, ce qui est dégradé voir cassé. Pour évaluer les éventuels travaux à sa
            charge. En plus de donner une image négative, ces défauts peuvent coûter lors de la négociation. Même si ces petites réparations ont un coût, elles seront moins onéreuses qu’une de négociation à la baisse de 5%.
          </p>
          <br>
          <p>
            <strong>3) Rafraîchir le bien</strong>
          </p>
          <br>
          <p>
            Pour une meilleure vente donnez un aspect propre de votre logement en nettoyant et en ne laissant rien au hasard. Votre amis pendant ce rafraîchissement sera la peinture blanche ou ton clair. Elle permettra de donner une seconde vie à votre logement
            et de donner une image seine et propre.
          </p>
          <br>
          <p>
            <strong>4) Rendre les espaces spacieux</strong>
          </p>
          <br>
          <p>
            Retirez les meubles qui prennent de l’espace inutile afin de montrer le potentiel de chaque pièce aux futurs acquéreurs.
            <br>
            Il est primordial de débarrasser, triez et jeter, pour ne laisser la présence d’aucun style déco particulier mais également permettre à l’acquéreur d’avoir une vision claire de votre logement. N’oubliez pas que le but est de déclencher le coup de
            coeur chez le candidat acquéreur, l’important n’est pas que la maison vous plaises à vous mais au client qui visite votre bien.
            <br>
            Cependant veillez à ne pas vider entièrement votre maison, laissez une trace de vie afin de ne pas donner l’impression d’un appartement témoin glacial et sans charme.
          </p>
          <br>
          <p>
            <strong>5) Ranger son appartement ou maison</strong>
          </p>
          <br>
          <p>
            Un bien en désordre en plus de donner mauvaise impression auprès des futurs acquéreurs, laisse supposer que vous ne savez l’entretenir. Même si ce n’est pas une mince affaire, il va falloir que les chambres des enfants restent impeccables durant
            toute la période de vente.
          </p>
          <br>
          <p>
            <strong>6) Le home-staging :</strong>
          </p>
          <br>
          <p>
            Cette méthode permet donner une seconde vie à vos meubles actuels afin de leur donner un aspect plus neutre. Elle consiste également à ajouter des petites touches de décoration contemporaine et de dépersonnaliser chaque pièce de votre appartement ou
            maison. Grâce à sa neutralité, le home-staging séduit le plus grand nombre leur permet de s’y projeter pour vivre. Comptez entre 1 et 3% du prix net vendeur pour cette prestation. Même s’il faut mettre la main au portefeuille, cette action ne sera
            que bénéfique car : votre délai de vente sera réduit et le prix sera bien moins négocié.

          </p>
          <br>
          <p>
            <strong>7) Détails importants.</strong>
          </p>
          <br>
          <p>
            Maintenant que vous avez rénové, rafraîchit et nettoyé votre bien, désormais chaque détail compte.
            <br>
            <ul>
              <li>
                Nous vous recommandons d’investir dans de la décoration très simple afin de créer une ambiance à moindre coût. Ajoutez quelques bougies, un miroir, une plante, cela donnera un aspect plus vivant et le visiteur sera d’autant plus ravi.
              </li>
              <li>
                Autre détail : la luminosité. Si vous avez un logement lumineux, il faut en jouer et ne surtout pas la masquer. C’est un grand avantage. Retirez les rideaux opaques pour laisser place à des matériaux plus fins et plus habillés.
              </li>
              <li>
                Enfin, détail surprenant : le côté olfactif. On se sent bien dans un logement qui sent bon. Jouez-en, car il a un impact très positif sur votre logement. C’est le moment d’acheter du parfum d’intérieur et de faire fondre du chocolat. Cela sera
                bénéfique.
              </li>
            </ul>
          </p>
          <br>
          <p>
            <strong>8) Le jardin</strong>
          </p>
          <br>
          <p>
            Si vous possédez un jardin, il est important qu’il renvoie une image vivante, retirez mauvaise herbes, plantez quelques fleures, sortez votre abri de jardin et désencombrez pour laisser l’acquéreur se projeter.
          </p>

          <h2 style="font-size: 22px;">
            <strong>Le compromis de vente et l’acte notarié</strong>
          </h2>

          <p>
            Si un acquéreur est intéressé par votre logement, il devra faire une offre d’achat, qui est le premier contrat avant le compromis de vente. Cependant rien n’est encore fait, il est essentiel de trouver un accord sur le prix et d’accorder de
            l’importance à la situation financière de l’acquéreur. En effet, vous n’êtes pas à l’abri d’un acheteur avec de réelles ambitions d’achat, mais sans la présence d’un financement sérieux.
            <br>
            Une fois les étapes précédentes validées, le professionnel rassemblera l’acquéreur et vous-même afin de signer le compromis de vente. C’est le premier contrat avant l’acte définitif chez le notaire. Il reprend les documents principaux nécessaires à
            la vente, le prix, le nom des parties, et une description précise du bien.
            <br>
            Une fois l’avant contrat signé, un délai de 10 jours s’écoule, laissant la possibilité à l’acquéreur de se rétracter. Après ce délai, suit une période de 60 jours en moyenne pendant laquelle l’acquéreur devra justifier la recherche de financement
            auprès d’un organisme bancaire, ce sont les conditions suspensives. Lorsque cette étape est validée, le notaire réalisera les formalités administratives afin de pouvoir procéder au changement de propriétaire. Comptez un délai d’environ 3 mois entre
            l’avant contrat et l’acte chez le notaire. Pour constater la vente du bien immobilier, il est incontournable de signer l’acte authentique chez un notaire.
            <br>
            Il expliquera en détail et validera le contrat, pour finaliser la signature, il remettra les clefs au nouveau propriétaire. Il ne vous restera plus qu’à sortir une bouteille de champagne pour fêter la vente !
          </p>
        </div>

        <div class="conclusion-article">
          <br><br>
          <p>
            Vous avez désormais toutes les connaissances nécessaires pour vendre votre bien immobilier dans les meilleures conditions. Nous espérons que ces conseils vous auront été utiles !
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

        <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
      return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
