<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Les 5 plus belles maisons de Marseille</strong>
          </h1>
        </div>
        <h2 class="text-center" style="font-size: 22px;">
          <strong>5) La Maison M, par Fatosme & Lefèvre Architectes</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/marseille1.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
          <p>Cette belle maison se caractérise par son mariage entre vision urbaine et naturelle. En effet, d’un côté la façade nord de la maison donnant sur la rue et les arbres formant une barrière protectrice de l'intimité des habitants. Et de l’autre, la
            façade Sud offre une vue panoramique sur un paysage idyllique. La prouesse de cette belle maison a été d’allier les grands espaces ouverts qui la constituent avec le soleil parfois agressif de cette région. Les architectes ont donc imaginé un système
            constitué de volets en bois permettant de se protéger des rayons du soleil et de profiter de la fraîcheur durant la soirée.
          </p>
        </div>
        <h2 class="text-center" style="font-size: 22px;">
          <strong>4) Le Nid d’Aigle, par André Stern</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/marseille2.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
          <p>Perchée sur les hauteurs de Marseille, cette belle maison tient son surnom “ le nid d’aigle” du fait qu’elle est la plus haute de la ville. Après avoir gravi les 230 marches nécessaires pour y accéder, vous pourrez profiter de ce petit paradis
            offrant une vue imprenable sur Marseille. Construite avec des formes arrondies, cette belle maison peut accueillir une famille, avec ses 4 chambres et sa salle de bain. À l'extérieur, une grande terrasse et une piscine sont à disposition pour d'où
            admirer la vue panoramique sur la cité phocéenne, en plus d’un tête à tête avec Notre Dame de la Garde.
          </p>
        </div>
        <h2 class="text-center" style="font-size: 22px;">
          <strong>3) VillaRic, par TOGU Architecture</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/marseille3.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
          <p>Située dans le 7e arrondissement, cette maison est une œuvre architecturale magnifique. Faisant quasiment disparaître la frontière entre intérieur et extérieur, en mettant à l'honneur la flore environnante. L’extérieur de cette maison est
            constitué d’une très grande terrasse en bois permettant aux occupants de profiter du soleil de la région, ainsi que de profiter de l’eau douce d’une magnifique piscine. Les immenses baies vitrées de cette belle maison permettent de bénéficier d’un
            maximum de luminosité. L’intérieur, au design épuré utilisant les boiseries comme matériaux de décoration, crée une ambiance de vie apaisante.
          </p>
        </div>
        <h2 class="text-center" style="font-size: 22px;">
          <strong>2) Appartement et studio sur les quais de la Joliette, par Adrien Champsaur Architecture</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/marseille4.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
          <p>Ce n’est pas une belle maison cette fois-ci, mais un très bel appartement qui a retenu l’attention de FoxFinder. Issu d’une rénovation totale et situé sur le quai de la Joliette, il offre à ses habitants 120 m² habitables. Ayant gardé le charme de
            l’ancien, avec poutres apparentes et parquet, ce bel appartement se caractérise comme un lieu de vie très agréable avec beaucoup de caractère.
          </p>
        </div>
        <h2 class="text-center" style="font-size: 22px;">
          <strong>1) La Maison CAP, par ACAU Architectes</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/marseille5.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
          <p>Nous partons maintenant dans le 6e arrondissement, pour découvrir cette belle maison située sur une petite parcelle, car il y a de peu d'espace disponible dans l’hypercentre de Marseille. Afin de bénéficier d’un maximum de luminosité, les
            architectes de cette belle maison ont décidé d’installer les pièces principales en hauteur. Cette belle maison située dans un environnement très urbain offre à ses habitants un jardin qui permet de faire une coupure avec la ville omniprésente en plus
            d’un toit-terrasse permettant de profiter du soleil de la région.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

        <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
      return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
