<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Les 10 maisons les plus chères du monde</strong>
          </h1>
        </div>
        <br>
        <p>
Que se passerait-il si vous aviez un budget illimité pour l'achat de votre nouvelle maison ? Pour satisfaire votre curiosité FoxFinder a sélectionné les 10 maisons les plus chères du monde.
        </p>
        <br>
                <h2 class="text-center" style="font-size: 22px;">
          <strong>10) Château de Dracula, Brasov (Roumanie) - $80 millions</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maisonchere1.jpg", height: 300, id: "logo", class: "text-center" %>
        </div>

        <p>
          Principale attraction de la Roumanie avec ses 550 000 visites annuelles, le château de Bram doit sa réputation à l’inspiration qu’il a donné à l’auteur du conte Dracula, Bram Stocker. Cette imposante structure médiévale offre à ses occupants pas moins de 57 chambres et une vue sur un paysage magnifique. Ce château a été construit au XVe siècle et fut occupé par le prince Vlad l’Empaleur (plus connu sous le nom du comte Dracula) qui était connu pour sa cruauté et sa fâcheuse habitude à empaler ses ennemis. Ce château était principalement occupé par des guerriers. Puis en 1920 la famille royale Roumaine s’y installe jusqu’en 1948 date ou le régime communiste prend le pouvoir. À la chute du régime, les autorités entretiennent le mythe du comte de Dracula et en font une attraction. Aujourd’hui, le Château a été restitué à l’héritier de la famille royale l'archiduc Dominique de Habsbourg qui est architecte à New-York.
        </p>
        <h2 class="text-center" style="font-size: 22px;"><strong>9) Updown Court, Windlesham (Angleterre) - $116 millions</strong></h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maisonchere9.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
        <p>
        Situé dans le Sud de l’Angleterre, ce palace construit sur 23 hectares est une concentration de luxe. Avec ses 22 salles de bain, 5 piscines, bowling, héliport, etc. L’entretien de ce château est estimé à 1 million d’euros par an. À la base acheté par Allen-Vercoe pour 20 millions d’euros, l’homme pensait après avoir effectué 30 millions de dollars d’investissement faire une belle plus value mais la tâche s'est avérée plus difficile que prévue. En effet, le principal problème de cette maison est sa proximité avec l’autoroute, ce qui est un détail gênant lorsque vous venez de dépenser une telle somme.
        </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>8) Hala Ranch, Aspen (États-Unis) - $135 millions</strong></h2>
          <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maisonchere8.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
          Le Hala Ranch est une très belle maison construite sur 38 hectares située à Aspen, Etat Unis. Conçue par la société d’architecture de Hagman Yaw en 1991, elle doit son nom à son propriétaire le Prince Bandar qui y a effectué quelques visites. Le domaine concentre toutes les commodités pour ses occupants : un terrain de tennis, une écurie, un étang de pêche, une piste de ski ou encore une station d’épuration. Les architectes ont choisi de rester dans un style rustique en concevant cette maison avec poutres apparentes et colonnes de pierres. Elle dispose de 15 chambres, 16 salles de bain et d'un ascenseur. Le Hala Ranch a été classé par le magazine Forbes comme la maison la plus chère des Etats Unis et occupe la troisième place du classement mondial.
          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>7) Le manoir d'Aaron Spelling, Los Angeles (Etats-Unis) - $150 millions</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonchere7.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Construite sur près de 56 000 m² la propriété d’Aaron Spelling se caractérise comme un immense château à la Française, avec un intérieur de luxe extravagant à l’Américaine. Il compte au total 123 pièces dont : un bowling, une patinoire, une piscine, une salle de dégustation, une salle de stockage d’argent avec une température contrôlée, une bibliothèque, une salle de gym, une salle de cinéma, un courts de tennis pour un total de 5300 m². La petite anecdote de cette maison est que la propriétaire ne sait pas exactement le nombre de salles de bain qu’elle contient, elle hésite entre 16 et 26. Cette maison n’a été habitée pendant longtemps que par une seule personne, la femme d'Aaron Spelling. Qui aujourd’hui a déménagé dans un logement 4 fois moins grand, lui laissant tout de même un large espace vital.
          </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;">
            <strong>
              6) Elena Franchuk Villa, Londres (Royaume Uni) - $161 millions de dollars
            </strong>
          </h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonchere6.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
            Cette villa située à Londres prend la 6e place de ce classement, en atteignant une valeur de 161 millions d’euros. Construite sur 5 étages, elle dispose d’un intérieur digne d'héberger la famille royale avec 10 chambres, salle de projection, des salles de sport, des salles de bains, une piscine en sous-sol et, cerise sur le gâteau, un abri anti-bombardements. Cette villa était à l'origine une école pour les filles, rachetée en 1997 par un homme d’affaires chinois. Après avoir changé de propriétaire, elle a été rénovée pour 10 millions d’euros. Période pendant laquelle la piscine en sous-sol a été installée. Elle appartient désormais à la fille de l’ancien président ukrainien, Mme Franchuk qui est mariée à un l'industriel Viktor Pinchuk.
          </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>5) Hearst-Davies Mansion, Berverly Hills (Etats-Unis) - $195 millions</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonchere5.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Trop peur pour partager votre salle de bain avec le comte Dracula mais tout de même envie d’habiter dans un lieu qui a servi à la réalisation de l'oeuvre mondialement connu ?
Pour seulement 195 millions de dollars, partez à Beverly Hills, vivre entre la maison de Tom Cruise et celle des Beckham, dans la maison qui a servi au tournage du film le parrain.
Niveau luxe cette maison offre tout le nécessaire à ses occupants. Construite sur 6 hectares, elle compte 29 chambres, 39 salles de bains, une salle de sport, des logements pour le personnel, une cave à vin, un garage pouvant accueillir 8 bolides, etc.
En plus des commodités elle offre aux occupants la possibilité d’exercer leur swing sur son court de tennis. Faire une soirée cinéma dans la salle de projection. Ou encore d'organiser une réception sur la terrasse pouvant accueillir plus de 400 personnes.

        </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>4) Fairfield Pond, Southampton (Etats-Unis) - $198 millions</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonchere4.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>En 4e position dans ce classement, la Fairfield Pond située à Southampton. Elle remporte la palme de la maison la plus chère des Etats-Unis avec la somme de 198 millions de dollars. Pour cette somme d’argent, les occupants n’auront pas à se bousculer afin d'accéder à la salle de bain, elle en compte 39 pour 29 chambres comptabilisant au total 10 000 m² habitable. L’intérieur très luxueux contient tous les éléments nécessaires pour de répondre à tous les besoins des occupants. En plus de ces commodités intérieures, la maison dispose d'un immense terrain qui lui aussi offre toutes les distractions nécessaires au bonheur des occupants.

          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>3) The Penthouse One Hyde Park, Londres (Royaume Uni) - $200 millions</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonchere3.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>En 3e, dans la ville ou le m² est le plus cher au monde, se trouve le penthouse One Hype Park. Dans le quartier de Knightsbridge à Londres a commencé en 2007 la construction d’un espace résidentiel regroupant 86 appartement luxueux pour un total de 85 000 m². La construction de ce complexe à été achevée en 2009. L'appartement le "moins cher" coûte 20 millions de dollars et le plus onéreux coûte 200 millions pour un appartement comptabilisant au total 6 chambres.
          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>2) Villa Leopolda, Villefranche-sur-Mer (France) - $525 millions</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonchere2.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Dans les hauteurs de Villefranche, se trouve une villa offrant aux occupants une vue panoramique sur la méditerranée. Construite sur un domaine de 8 hectares très arboré, cette villa possède un charme à la Française nécessitant plus de 50 jardiniers pour entretenir tout le domaine. Cette villa est un monument historique. En 1902, le roi de Belgique Léopold fait l’acquisition du terrain pour un franc symbolique et y fait construire une villa qu’il baptisa Leopolda. La bâtisse fut ensuite transformée par Albert Premier de Belgique en hôpital. En 1929 Ogden Codman, architecte, repense entièrement l’architecture du bâtiment pour lui donner les dimensions d’aujourd’hui. Aujourd’hui, la villa appartient à Lily Safra femme d’un richissime homme d’affaires libanais.
          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>1) Antilia, Bombay (Inde) - $1 milliard</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonchere.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Enfin, pour la première place de ce classement : Antilia, largement en tête. Cette tour est estimée entre 1 et 2 milliard de dollars. Située en Inde sur les hauteurs de Bombay dans un quartier chic, on repère facilement cet édifice de 27 étages, composé d’acier et de verre. Son riche propriétaire Akesh Ambani à décidé de faire construire pour sa famille un "petit" nid bien confortable. La famille n'occupe en réalité que 3 étages de la structure les autres sont consacrés aux loisirs. Les 6 premiers sont exclusivement consacrés au stock des 168 véhicules du propriétaire, 3 autres étages de jardin suspendus, un centre de fitness et une piscine olympique. Pour entretenir la tour et répondre aux besoins des 5 membres de la famille 600 domestiques sont nécessaires. La tour Antilia est la propriété de la famille Ambani, première fortune d’Inde. Akesh Ambani et son frère doivent leur fortune à leur père. Fils d’instituteur, il monte une entreprise dans le textile et bouscule les codes en ayant la réputation de ne jamais faire comme les autres. À sa mort à l’âge de 70 ans, ses deux fils héritent du premier groupe privé de tout le continent. Dans une ville ou 62 % de la population vit dans des taudis, une telle construction choque. Surtout à cause de la réputation d’homme moderne du père qui n'aurait jamais osé provoquer de la sorte d’après certaines personnes.
          </p>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
<div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

    <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
