<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Quels frais faut-il payer pour vendre un bien immobilier ?</strong>
          </h1>
        </div>
        <div class="text-center photo-mobile">
        <%= image_tag "imageblog/frais2.jpg", height: 300, id: "logo", class: "text-center" %>
        </div>
          <div class="margin-blog">
 Lors de votre vente immobilière, vous devrez payer un certain nombre de documents ou services. Certains sont obligatoires, d’autres optionnels, mais tous sont bénéfiques à votre vente. FoxFinder votre comparateur d’agences immobilières, va vous expliquer tous les frais que peut engendrer votre vente immobilière.
            </p>
          </div>
          <p><strong>Réaliser les diagnostics immobiliers obligatoires </strong></p>
          <div class="margin-blog">
          <p>Pour mettre en vente votre bien, vous aurez besoin de réaliser des diagnostics obligatoires. Ils servent à informer le candidat acquéreur sur l’aspect technique de votre bien.
On compte actuellement 10 diagnostics, cependant, ils ne sont pas tous à réaliser, ils dépendent de la date de construction, de la localisation et du type de bien que vous vendez.
Nous vous conseillons de demander plusieurs devis à l’avance, car les prix sont variables d’un diagnostiqueur à un autre, mais ils sont compris entre 80 et 100€ par diagnostic.
Nous vous conseillons de réaliser les diagnostics au préalable plutôt que d’attendre d'avoir une offre d'achat avant de les réaliser. Cela vous pénalisera dans le délai de vente, et vous pourrez perdre votre acquéreur.

          </p>
          </div>
          <p><strong>Quels sont les frais d’agence pour vendre ? </strong></p>
          <div class="margin-blog">
          <p>Si vous vendez entre particuliers (en complément d’une agence ou non), vous allez devoir annoncer sur différents supports que votre maison ou votre appartement est à vendre.
          Pour cela, il existe différents moyens ; vous pouvez passer une annonce dans les journaux ou sur des sites d’annonces immobilières. Avec une telle diversité, nous vous conseillons de sélectionner quelques supports afin d'établir une stratégie de communication ciblée pour rendre votre bien visible auprès des clients acquéreurs
          <br><br>
          Pour vous donner un aperçu, voici les frais de certains sites d'annonces immobilières :
          <br>
          <br>
          <div class="text-center">
          <%= image_tag "imageblog/frais1.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          </p>
          </div>
          <p><strong>Le vendeur paye-t-il des taxes ou des frais de notaire ? </strong></p>
          <div class="margin-blog">

          Pour chaque transaction immobilière ; la ville, l’état et la région perçoivent des taxes qui sont incluses dans les frais de notaire.
Cependant, ces taxes sont exclusivement à charge de l’acquéreur, vous n’aurez donc absolument rien à payer.

          <br><br>
          <strong>La fiscalité sur la plus-value immobilière </strong>
          <br><br>
          Quelle que soit la nature du bien vendu, la vente d'une résidence principale est exonérée de tout impôt au titre des plus-values.
          <br><br>
          Si vous vendez votre logement à un prix plus cher que celui auquel vous l’avez acheté, vous devrez acquitter de la taxe sur la plue value immobilière. Celle-ci est calculée en fonction de la durée de votre détention et de l’usage du logement.
À savoir : si vous revendez votre logement à usage de résidence principale vous serez totalement exonéré d’impôt sur la plus-value.
          <br><br>
          <strong>Remboursement de TVA </strong>
          <br><br>
          Il est possible dans certaines situations d’induire un paiement de TVA, notamment lors de :
La première revente d’un logement neuf 5 ans avant sa date d’achèvement.
La vente d’un bien acheté sur plan pas encore livré, aussi appelée achat en VEFA.
Si ces deux cas ne vous concernent pas, vous ne payez pas de TVA sur votre vente.

          <br><br>
<strong>Des frais de mutation dans certaines copropriétés</strong>
<br><br>
Si vous êtes propriétaires d’un logement en copropriété, vous aurez besoin d’un document appelé "état daté" fourni par votre syndic qui résumera le montant des charges courantes et des travaux payés par le vendeur pendant les deux exercices comptables antérieurs à la vente.
De plus, si le syndicat des copropriétaires dispose d'un fond de travaux, il faudra y ajouter le montant de la part du fond de travaux rattachée au lot principal vendu et le montant de la dernière cotisation versée par le vendeur pour ce fonds. Enfin, il faudra indiquer les sommes que l'acheteur est susceptible de devoir au syndicat de copropriété, ainsi que celles dont le vendeur serait débiteur à l'égard du syndicat, et l'état global des éventuels impayés de charges au sein de la copropriété.
Ce document essentiel à la vente peut être facturé par le syndic entre 100€ et 600€.

<br><br>

<p><strong>Frais de remboursement de crédit immobilier et de mainlevée d’hypothèques</strong></p> <br><br>

Lorsque que vous financez l’achat de votre logement à l’aide d’un crédit, et que vous décidez de le rembourser lors de votre vente, vous pouvez être amené à payer des frais de remboursement anticipé.
Cependant, il existe des situations pour lesquelles il est impossible de vous demander des frais de remboursement :
Changement de lieu d’activité professionnelle
Décès de l’un des co-emprunteurs
Cessation forcée de l’activité professionnelle de l’un des emprunteurs.
Vous devrez également payer des frais de mainlevée d’hypothèques si tel est le cas.
<br><br>
<strong>Des services optionnels pour mieux vendre </strong>
<br><br>
La seule dépense obligatoire à votre charge est celle des diagnostics, le reste est optionnel pour la vente de votre bien.
Certains services optionnels existent pour faciliter votre transaction, c’est le cas du Home Staging. Il vous permettra de rendre votre maison neutre afin qu’elle puisse plaire à la majorité des visiteurs. Le coût de ce service est d'environ 1 à 3% du prix du bien, mais est utile pour vendre au meilleur prix et rapidement.
<br><br>

    <div class="col-xs-12 col-md-4">
<div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

    <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
