<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Les plus belles maisons de France selon FoxFinder</strong>
          </h1>
        </div>
        <h2 class="text-center" style="font-size: 22px;">
          <strong>La Maison-Piscine, par MOA Architecture</strong>
        </h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maisonf1.png", height: 300, id: "logo", class: "text-center" %>
        </div>

        <p>
        Cette magnifique maison est le mariage parfait de la modernité à la pierre traditionnelle. Se situant à Saint-Cyr sur Mer au milieu d’un paysage de rêve, cette maison est le résultat d’une rénovation complète d’un bâtiment traditionnel. Offrant aujourd’hui une magnifique bâtisse orientée vers la mer. Sa principale particularité est au niveau de son toit. En effet, une piscine a été installée sur la totalité de sa surface. Accessible par un escalier donnant sur un îlot central, elle offre une vue imprenable sur l'océan.
        </p>
        <h2 class="text-center" style="font-size: 22px;"><strong>Maison tempérée, par Artelabo</strong></h2>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maisonf5.png", height: 300, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-blog">
        <p>
        La particularité de cette maison est sa ligne architecturale qui se confond parfaitement avec le paysage en créant une structure toute en longueur lui donnant un charme unique. Les baies vitrées permettent un maximum de luminosité à l’intérieur pour une décoration et un design épuré. À l'extérieur, vous pouvez profiter depuis la terrasse située entre deux blocs de la maison d’une vue magnifique sur le paysage de Montpellier. Ou encore d’une piscine construite sur toute la longueur de la maison.
        </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>Pop-Up House, par Multipod Studio</strong></h2>
          <div class="text-center photo-mobile">
          <%= image_tag "imageblog/maisonf4.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
           Alliant modernité, luxe et respect de l'environnement, cette maison passive est le symbole de l’architecture moderne écologiquement responsable. Le prototype de cette maison est situé à Marseille, mais peut être implanté partout en France. Son modèle de construction alliant une ossature en bois avec des blocs isolants en polystyrène offre, en plus d’être une maison éco-responsable, une construction rapide et modulable selon tous les goûts. Vous pouvez donc appliquer ce concept de maison passive dans toutes les régions de France et adapter sa taille et la disposition de ses pièces de vies selon vos besoins.
          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>Maison de vacances, par ACAU</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonf3.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Construite dans les hauteurs de Bellecombe, le paysage offre à cette maison un charme qu’on ne retrouve pas ailleurs. La difficulté était de construire une maison en accord à ce paysage sublime, et le résultat final est impressionnant. L'utilisation du bois comme matériel extérieur permet à cette maison de ne faire qu’un avec la nature. L’extérieur est mis en avant dans cette construction, avec une grande terrasse vous permettant de profiter de l’air frais tout en étant à l’abri du soleil. Si toutefois vous avez trop chaud, il suffira de faire un plongeon dans la piscine afin de vous rafraîchir pour ensuite vous reposer dans un transat en admirant le paysage. L’intérieur de cette maison est un prolongement de l’extérieur, voulant toujours mettre à l’honneur le paysage en installant dans chaque pièce de vie des baies vitrées.
          </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;">
            <strong>
              Maison Le Cap, par Pascal Grasso
            </strong>
          </h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonf2.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>
            Cette magnifique maison, située dans le Var, est composée de blocs de béton qui alliant force et finesse et permettant un mariage parfait avec le paysage varois. L’orientation de la maison offre une vue imprenable sur l'océan et sur la totalité des côtes varoises. L’intérieur est composé de grands espaces de vie très lumineux avec un beau design. L’extérieur à aussi beaucoup à offrir, avec ses terrasses permettant de profiter du soleil et une magnifique piscine à débordement. Si la piscine de ne vous convient pas, il suffira de descendre sur la plage et de plonger dans l’océan.
          </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>Maison S20, par Frank Salama</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonf6.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Le fait que cette maison de Saint Maur soit surélevée relève d’un problème simple, elle se situe en zone inondable. Il est donc interdit par la réglementation de construire des pièces de vies au RDC. Franck Salama a donc décidé de ne pas faire dans la demi-mesure, et à tout simplement surélevé la totalité de la maison sur pilotis. La finalité de ce projet nous donne une superbe maison surélevée, offrant de très grands espaces de vie lumineux. La terrasse est aussi surélevée, afin de créer un espace de vie à la fois extérieur et intérieur. Enfin, en bas, vous pourrez vous rafraîchir dans la piscine.
        </p>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>Maison JJ&SM, par l’Atelier MIMA</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/maisonf7.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Les architectes de cette maison ont manifesté la volonté qu’elle soit en harmonie avec le paysage breton, et ont fait le choix de la simplicité. Cette maison de campagne au design épuré et dont le bois est l'élément principal, dégage un sentiment d’apaisement. Idéal pour venir se ressourcer quelques jours après une semaine stressante dans le vacarme de la ville. Les ouvertures permettent de laisser entrer la lumière à l’intérieur dans un décor de bois clairs créant une ambiance cosy. La terrasse offre aussi la possibilité de se ressourcer avec une brise de vent en écoutant le chant apaisant des arbres environnants.
          </p>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
<div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

    <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
