<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">
            Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !
          </h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>
              Astuces pour vendre vite et bien
            </strong>
          </h1>
        </div>
        <div class="text-center photo-mobile">
          <%= image_tag "imageblog/vendrevite.jpg", height: 300, id: "logo", class: "text-center" %>
        </div>

        <div class="margin-blog">
          <p>
            Vendre rapidement son appartement ou sa maison n’est pas synonyme de le brader. Des méthodes désormais devenu incontournables vous permettront de réaliser votre vente immobilière dans les meilleures conditions dans ce marché où les acheteurs font la
            loi. Il est tout à fait normal de se poser une multitude de question, FoxFinder votre comparateur d’agences immobilières y répondra.
          </p>
        </div>
        <p>
          <strong>
            Estimez le bien à son juste prix
          </strong>
        </p>
        <div class="margin-blog">
          <p>À l’heure actuelle le délai de vente d’un appartement ou d’une maison est d’environ 3 mois. Cependant, il peut se voir prolongé si le prix du marché n’est pas respecté. En plus d’accumuler le temps perdu, votre bien risque également de perdre de
            la valeur. Une bonne estimation est donc la première solution pour réussir à vendre son appartement.
            <br><br>
            Dans un premier temps, pour avoir une vision approximative du prix de vente, il est conseillé de consulter le prix des biens en vente à proximité et également d’utiliser les outils d’estimation en ligne. Cela vous permettra d’avoir une fourchette
            large sur l’estimation de votre bien.
            <br><br>
            Cependant l’estimation est un exercice complexe qui nécessite des connaissances précises du marché et des ventes récentes. Les facteurs locaux rentrant en compte, il est vivement conseillé de faire appel à un agent immobilier qui saura utiliser les
            ventes similaires réalisées à proximité pour approcher le plus précisément possible le prix marché. Pour une estimation plus précise, nous vous conseillons de faire appel à plusieurs agences.

          </p>
        </div>
        <p>
          <strong>
            Privilégiez le mandat de vente exclusif
          </strong>
        </p>
        <div class="margin-blog">
          <p>Si vous choisissez de passer par l’intermédiaire d’un agent immobilier pour vendre votre appartement ou votre maison deux choix s’offrent à vous. Vous pouvez confier un mandat simple ce qui vous permettra de mettre en vente votre appartement dans
            plusieurs agences en plus de le vendre par vous même. Cela vous permettra d’avoir une visibilité accrue de votre bien. les professionnels bénéficient du risque de ne pas concrétiser eux même la vente. Le mandat simple reste moins travaillé que le
            mandat exclusif. De plus, la publication de votre appartement dans plusieurs agences, le discrédite aux yeux des candidats acquéreurs.
            <br><br>
            La solution alternative est le mandat exclusif, il vous engage vis-à-vis d’une seule et unique agence. En tant que vendeur vous craignez souvent d’avoir une communication trop restreinte sur votre bien. Cependant un mandat exclusif est gage de
            qualité et permet au professionnel d’exercer un travail plus approfondi. Les délais de ventes sont ainsi en moyenne réduit de moitié et la marge de négociation est plus restreinte.

          </p>
        </div>
        <p>
          <strong>
            Soignez la présentation de votre logement
          </strong>
        </p>
        <div class="margin-blog">
          <p>
            À l’heure actuelle, les acquéreurs, en leur nombre limité sont en position de force. Votre bien doit ainsi se distinguer du lot afin d’attirer l’oeil. Des solutions très efficaces et peu coûteuses existent pour pallier à ce déséquilibre.
            <br><br>
            Tout d’abord votre appartement doit être attrayant c’est à dire être rangé, peintures et sols impeccables, aucune finitions à prévoir… Il est également primordial que les pièces ne soient pas encombrées afin de laisser la possibilité au candidat
            acquéreur de se projeter. Enfin, votre appartement doit être dépersonnalisé afin de l’accueillir dans les meilleures conditions.
            <br><br>
            Une des solution phare du moment est le home-staging. Cette méthode permet d’apporter une touche de décoration contemporaine, de rénover les meubles anciens, et de remettre votre bien en bon état général. Les coûts se chiffrent environ à 1 ou 2% du
            prix net vendeur et permettent de réduire considérablement le délai de vente et la négociation.
          </p>

          <div class="margin-blog">
            <p>
              <strong>
                Préparez d’avance tous les documents nécessaires à la vente
              </strong>
            </p>
            <br><br>
            <p>
              La vente d’un bien immobilier nécessite la constitution d’un dossier. Pour vendre dans les meilleures conditions, il est nécessaire de le faire au préalable. L’anticipation vous permettra de signer le compromis de vente beaucoup plus rapidement en
              cas d’obtention d’une offre d’achat.
              <br><br>
              Pour respecter votre devoir d’information envers l’acquéreur lors de la mise en vente, vous aurez besoin :
            </p>
            <br><br>
            <p>
              <strong>
                Les documents relatifs à votre droit de propriété
              </strong>
            </p>
            <br><br>
            <p>
              Ces documents permettront de justifier que vous êtes bien le propriétaire de l’appartement et que vous avez la capacité de le vendre. Vous devez donc vous munir de votre titre de propriété ainsi que de votre dernier avis d’imposition au titre de la
              taxe foncière.
            </p>
            <br><br>
            <p>
              <strong>
                Les documents relatifs à votre situation personnelle
              </strong>
            </p>
            <br><br>
            <p>
              Ces documents permettront de justifier votre identité, de rédiger les contrats le plus précisément possible et de respecter les réglementations en vigueur. Munissez-vous de votre livret de famille extrait ou acte de naissance, une copie de votre
              contrat de mariage ainsi que votre pièce d’identité.
            </p>
            <br><br>
            <p>
              <strong>
                Les documents relatifs aux travaux réalisés sur le bien vendu
              </strong>
            </p>
            <br><br>
            <p>
              Pour prouver votre bonne foi mais également rassurer le candidat acquéreur dans la visite de votre logement, il est indispensable de se munir des autorisations administratives et celle de la copropriété relatives à ces travaux.
            </p>
            <br><br>
            <p>
              <strong>
                Le mesurage du lot vendu (ou certificat «loi Carrez »)
              </strong>
            </p>
            <br><br>
            <p>
              Le mesurage loi carrez carrez doit être réalisé par un professionnel agréé. Il calculera la superficie exacte de copropriété.
            </p>
            <br><br>
            <p>
              <strong>
                Le Dossier de Diagnostic Technique (DDT)
              </strong>
            </p>
            <br><br>
            <p>
              Ce dossier a un caractère obligatoire, votre vente ne pourra être réalisé sans. Il permettra de donner les caractéristiques approfondies du bien. Parmi ceux nécessaires vous aurez, le diagnostic de performance énergétique, l’état des risques naturels
              et technologiques, le constat de risque d’exposition au plomb, l’état relatif à l’amiante, l’état parasitaire, l’état des installations de gaz et d’électricité et enfin celui informant du risque de présence de mérules. Chaque diagnostic dépend de la
              localisation de votre appartement et de la date de construction de l’immeuble, il ne sont donc pas tous à réaliser.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="enseblepub">
            <div class="compareruneagence">
              <h2 class="text-center" style="font-size: 22px;">
                Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !
              </h2>
              <div class="text-center margin-top margin-foxfinder">
                <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
              </div>
              <div class="margin-foxfinder-bouton text-center">
                <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
              </div>
            </div>

            <div class="text-center facebookcard">
              <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
      return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
