<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Les 5 plus belles maisons de Paris</strong>
          </h1>
        </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>5) La maison de verre VII arrondissement. </strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/paris1.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
            <p>Cette maison réalisée par Pierre Chareau, est une œuvre dans laquelle l’architecte a voulu mettre en valeur la lumière à travers les nombreuses fenêtres. En plus d’une grande luminosité, l’intérieur de la maison a été pensée par l’architecte pour être dynamique. En effet, la disposition de chaque pièce a été réfléchie dans le but d’optimiser l’espace en utilisant des meubles mobiles. Cette maison fut la dernière construction de Pierre Chareau de son vivant, immortalisant son souvenir à travers une œuvre le représentant parfaitement.
            </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>2) Maison particulière à Paris </strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/paris6.jpg", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Cette maison est une œuvre architecturale manifestant la volonté de marier intérieur et extérieur. La maison surprend, de part son aspect extérieur très rectangulaire. Laissant imaginer un intérieur assez urbain, alors qu'au contraire, la maison est décorée avec pour matériaux principaux des boiseries. Au centre de la bâtisse, la présence d’un arbre ne choque pas, tant il est en osmose avec le reste du décor. Cette maison nous montre le parfait mélange entre le milieu urbain, avec ses formes très rectangulaire, et la nature, avec l’utilisation massive de boiseries et la présence de l’arbre au centre de la pièce principale.
          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>3) Maison moderne, 6e arrondissement.</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/paris8.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>L’utilisation de métal, de verre et de bois tout en réduisant au maximum l’utilisation du béton résulte de la volonté de l’architecte Jacques Moussafir de créer une maison en symbiose avec la nature. Et la plus écologiquement responsable possible. Située dans le 6e arrondissement, elle est la représentation parfaite de la nouvelle volonté écologique de Paris, avec l’utilisation de matériaux recyclés, de récupérateur d’eau de pluie. Ou encore avec le jardin et la terrasse très végétalisés, mettant la nature au centre de l’attention. L’intérieur de cette maison est aussi très moderne, avec un design très épuré.
          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>4) Maison de ville à Paris 20e arrondissement.</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/paris11.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>Les lignes très droites et la forme cubique de cette maison, lui donnent une particularité unique par rapport aux autres maisons du quartier, sans pour autant y détonner. La bâtisse compte au total 250 m² regroupant : une maison et un studio indépendant. La terrasse du toit est construite avec pour matériaux principaux les boiseries. Cet espace vous permettra ainsi de vous détendre dans la ville des lumières. Le design très épuré, crée un espace de vie agréable et spacieux bénéficiant d’un maximum de luminosité grâce aux larges fenêtres laissant entrer la lumière.
          </p>
          </div>
          <h2 class="text-center" style="font-size: 22px;"><strong>5) Maison en bois à Paris, 20e arrondissement</strong></h2>
          <div class="text-center photo-mobile">
            <%= image_tag "imageblog/paris14.png", height: 300, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-blog">
          <p>L’enjeu principal dans la construction de cette maison, était d’allier les nombreuses mitoyennetés à l’objectif de créer une maison bénéficiant de beaux espaces ; lumineux et pas trop exposés à la vue tout en réduisant au maximum les coûts. La maison est divisée en deux parties collées l’une sur l’autre. Dont une partie en bois utilisant pleine de luminosité et bénéficiant d'un périscope posé par-dessus. Au final, ce projet donne une maison magnifique avec de grands espaces de vies lumineux, design et optimisés pour éviter au maximum les mitoyennetés voisines.
          </p>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
<div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

    <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
