<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-md-4 picshowmobile">
      <div class="col-xs-12 col-sm-4">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="fond-article">
        <div class="titre-article">
          <h1 style="font-size: 32px;">
            <strong>Les délais d’une vente immobilière</strong>
          </h1>
        </div>
        <div class="text-center photo-mobile">
        <%= image_tag "imageblog/temps.jpg", height: 300, id: "logo", class: "text-center" %>
        </div>
        <br>
        <div class="introduction-article">
          <p>
La vente immobilière est composée de nombreux délais. Même si le plus important à vos yeux reste le délai de vente, d’autres sont également importants à connaître pour vendre dans les meilleures conditions. FoxFinder votre comparateur d’agences immobilières pour propriétaires, a rassemblé pour vous l’ensemble des délais auxquels vous serez confrontés.
          </p>
        </div>

        <div class="corp-article">

          <h2 style="font-size: 22px;">
            <strong>Le délai de rétractation.</strong>
          </h2>

          <p>
         Une fois que vous aurez accepté l’offre d’achat de l’acquéreur vous devrez signer le compromis de vente qui est le premier contrat qui scelle la vente. Nous vous conseillons de passer par un professionnel pour réaliser cet acte, que ce soit un notaire ou agent immobilier. Cela vous permettra d’être protégé au mieux et d’avoir un document avec une vraie valeur.
          <br>
          Quand vous et l’acquéreur aurez signé le compromis, une copie sera envoyée par lettre recommandée. S’en suivra <strong>un délai de 10 jours à compter du lendemain de la réception durant lequel l’acquéreur aura la possibilité de se rétracter et de renoncer définitivement à la vente.</strong>
          </p>

          <h2 style="font-size: 22px;">
            <strong>Le délai entre le compromis et l’acte définitif.</strong>
          </h2>

          <p>
          Vous allez devoir prévoir dès la signature du compromis le délai maximal dans lequel l'acte de vente définitif devra être signé. C'est ce que l'on appelle le <strong>délai de réalisation de la vente</strong>. Il faut en principe compter <strong>environ 3 mois</strong> entre le compromis et l’acte notarié. Une fois votre calcul fait, vous indiquerez dans le compromis la date butoir à laquelle la vente doit être signée.
          </p>

          <h2 style="font-size: 22px;">
            <strong>Droit de préemption des collectivités publiques</strong>
          </h2>

          <p>
          Le droit de préemption est un droit que possèdent les collectivités publiques. Il leur donne la possibilité d’acheter votre logement même si un tiers vous a déjà fait une proposition d’achat. Il est donc impératif d’envoyer un document à la mairie appelé DIA (déclaration d’intention d’aliéner), d’attendre sa réponse et savoir si elle va se substituer à l’acquéreur initial. <strong>Le délai est d’environ de deux mois.</strong>
          </p>

          <h2 style="font-size: 22px;">
            <strong>Droit de préemption du locataire</strong>
          </h2>

          <p>
            Si votre logement est loué lors de la mise en vente, il faut impérativement donner la possibilité au locataire d’avoir un droit de préemption pour l’acquérir.
            <br>
            Trois cas peuvent alors se présenter :
          </p>

          <ul>
            <li>
            S’il s’agit de la première vente d’un logement depuis la division d’un immeuble par lot, le délai accordé au locataire pour préempter est de <strong>2 mois</strong>.
            </li>
            <li>
            Si vous décidez de vendre un immeuble de plus de 10 appartements loués à un acquéreur qui refuse de prolonger les baux sur au moins 6 années, vous devrez annoncer à chacun des locataires qu’ils disposent d’un droit de préemption pour acheter le logement qu’ils occupent. Leur délai de réponse est de <strong>4 mois maximum</strong>.
            </li>
            <li>
              S’il s’agit de la vente de logement loué meublé ou non meublé. Vous devez, 6 mois avant la fin du bail, délivrer au locataire un congé de vente par acte d'huissier ou lettre recommandée accusé de réception. À compter de la réception, le locataire dispose d’un délai de 2 mois pour accepter ou refuser l’offre au-dessus du délai elle sera caduque et il devra quitter les lieux après les
              <strong>6 mois.</strong> <br>Cependant, s’il accepte, il disposera d’un délai de deux mois pour vous faire part de sa décision par lettre recommandé accusé de réception. Une fois sa réponse envoyée, il disposera de <strong>2 mois pour signer l’acte de vente et 4 s'il y a recours à un prêt immobilier.</strong>
            </li>
          </ul>

          <h2 style="font-size: 22px;">
            <strong>La condition suspensive liée au prêt</strong>
          </h2>

          <p>
            La majorité des acquéreurs passent par l’intermédiaire d’un organisme bancaire pour financer leur opération immobilière. Lorsque le compromis est signé et que le délai de rétractation est passé, l’acquéreur doit chercher son financement. Il y a donc une clause dans le compromis appelé clause de conditions suspensives, qui accorde à l’acquéreur un certain délai pour trouver un établissement qui accepte son offre de crédit. Cette clause permet à l’acquéreur, en cas d’échec, de pouvoir renoncer à la vente sans aucune pénalité financière s’il en apporte la preuve. Il est d’usage que cette période dure entre <strong>1 et 2 mois</strong>.
          </p>
          <h2 style="font-size: 22px;">
            <strong>L'offre de prêt</strong>
          </h2>
          <p>
             Une fois que l’acquéreur à reçu une offre de prêt, il devra en informer votre agent immobilier et signer l’acte définitif dans les <strong>4 mois</strong> qui suivent sinon la vente devient caduque.
             <br><br>
              Désormais, vous connaissez l’essentiel des délais que contient une transaction immobilière. FoxFinder espère que cet article vous sera utile dans votre vente.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
<div class="enseblepub">
        <div class="compareruneagence">
          <h2 class="text-center" style="font-size: 22px;">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h2>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>

    <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
