<%= render 'shared/navbar' %>
<div id="fondblanc">

<div class="row">
  <div class="col-xs-12 col-sm-7" style="overflow-y: auto; height: 93vh">
    <br>
    <% if @companies.size == 1  %>
    <h4 class="text-center"><strong>Pour vendre votre bien nous vous conseillons cette agence :</strong></h4>
    <% else %>
    <h4 class="text-center"><strong>Pour vendre votre bien nous vous conseillons ces agences :</strong></h4>
    <% end %>
        <% délais_exclus = [] %>
        <% délais_general = [] %>
        <% nombre_de_ventes = [] %>
      <% @companies.order("total_delay ASC").limit(3).each do |element| %>
        <%# nombre_de_ventes << element.area_ventes.round if element.area_ventes != nil && element.area_ventes != 0 %>
        <%# délais_general << element.total_delay.round if element.total_delay != nil && element.total_delay != 0 %>
        <%# délais_exclus << element.delai_exclu.round if element.delai_exclu != nil && element.delai_exclu != 0 %>
      <% end %>
        <%# nombre_de_ventes.sort.reverse %>
        <%# délais_general.sort %>
        <%# délais_exclus.sort %>

      <% @companies.order("total_delay ASC").limit(3).each do |u| %>
        <%# [] << u.area_ventes %>
        <%# [] << u.delay %>
        <%# [] << u.delai_exclu %>
        <div class="card-resultat-recherche-foxfinder">
          <div class="contact-agence-recherche-foxfinder">
            <div class="photo-agence-card-resultat">
              <% if u.photo.present? %>
                <%= cl_image_tag u.photo.path, height: 110, width: 110 %>
              <% else %>
                <%= image_tag 'avatar.png', height: 110, width: 110 %>
              <% end %>

            </div>

              <h4><strong class="nom-agence"><%= u.company_name %></strong></h4>
            <div class="agence-nom-resultat" style="margin-top: 10px">

            <% if u.total_delay != nil && u.total_delay != 0 %>
              <% if u.total_delay.round == délais_general.sort.first %>
                <!-- <p>médails <strong>délais de ventes</strong></p> -->
                <div class="popover__wrapper">
                  <a href="#">
                    <%= image_tag "m2.png", id: "logo-trophé" %>
                  </a>
                  <div class="push popover__content">
                    <p class="popover__message">Meilleur en délais de vente</p>
                  </div>
                </div>
              <% end %>
            <% end %>

            </div>

          </div>


              </p>
              <p class="text-center">délai de vente</p>
            </div>
            <div class="card-perd-resultat-recherche">

              <p class="text-center" id="couleur-spécial" >


      <% end %>
    </div>
    <br>
</div>

</div>
