<%= render 'shared/navbar' %>
<div class="fondgris">
  <div class="row">
    <div class="col-xs-12 col-sm-4 picshowmobile">
      <div class="compareruneagence">
        <h3 class="text-center">Vendez deux fois plus vite avec FoxFinder</h3>
        <div class="text-center margin-top margin-foxfinder">
          <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
        </div>
        <div class="margin-foxfinder-bouton text-center">
          <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to commentvendre_path do %>
            <%= image_tag "forsale.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to commentvendre_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Vendre son bien immobilier
            </strong>
          </h2>
          <% end %>
          <p>
            Vendre son bien immobilier est une étape importante dans la vie de chacun. Il est donc important d’en connaître les étapes clefs afin de vendre de manière rapide et efficace.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article2_path do%>
            <%= image_tag "imageblog/maison1.png", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article2_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              9 architectures originales à travers le monde
            </strong>
          </h2>
          <% end %>
          <p>
            Cet article vous fera voyager à travers le monde en vous présentant 9 architectures très originales allant de la maison troglodyte à la cabane dans les arbres.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to maisonsfrance_path do%>
            <%= image_tag "imageblog/maisonf1.png", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to maisonsfrance_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Les plus belles maisons de France selon FoxFinder
            </strong>
          </h2>
          <% end %>
          <p>
            On vous emmène visiter les régions de France afin de vous faire découvrir les plus belles maisons qui s'y trouvent.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to delaisdeventes_path do %>
            <%= image_tag "imageblog/temps.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to delaisdeventes_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Les délais d’une vente immobilière
            </strong>
          </h2>
          <% end %>
          <p>
            La vente immobilière est composée de nombreux délais. Même si le plus important reste le délai de vente, d’autres sont également importants à connaître pour vendre dans les meilleures conditions.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to maisondumonde_path do %>
            <%= image_tag "imageblog/maisonchere5.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to maisondumonde_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Les 10 maisons les plus chères du monde
            </strong>
          </h2>
          <% end %>
          <p>
            Pour satisfaire votre curiosité, FoxFinder à déniché pour vous les 10 maisons les plus chères du monde, et pour les avoir il faudra peut être faire un petit détour par la banque.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article6_path do %>
            <%= image_tag "imageblog/maisonchere2.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article6_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Les 5 maisons les plus chères de France
            </strong>
          </h2>
          <% end %>
          <p>
Après celles du monde, FoxFinder à sélectionné pour vous les 5 maisons les plus chères de France.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article7_path do %>
            <%= image_tag "imageblog/marseille1.png", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article7_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Les 5 plus belles maisons de Marseille
            </strong>
          </h2>
          <% end %>
          <p>
FoxFinder vous fait voyager dans la jolie ville de Marseille dans cet article en vous faisant découvrir 5 plus belles maisons de la ville.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article8_path do %>
            <%= image_tag "imageblog/paris1.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article8_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Les 5 plus belles maisons de Paris
            </strong>
          </h2>
          <% end %>
          <p>
FoxFinder vous emmène à Paris dans cet article en vous faisant découvrir 5 belles maisons de cette ville.          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article9_path do %>
            <%= image_tag "imageblog/plv.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article9_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              La plus-value immobilière
            </strong>
          </h2>
          <% end %>
          <p>
            FoxFinder vous explique tout sur la plus-value immobilière dans cet article.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article10_path do %>
            <%= image_tag "imageblog/frais2.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article10_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Quels frais faut-il payer pour vendre un bien immobilier ?
            </strong>
          </h2>
          <% end %>
          <p>
            FoxFinder vous explique tout sur les frais lors d'une transaction immobilière.
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article11_path do %>
            <%= image_tag "imageblog/vendrevite.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article11_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Astuce pour vendre vite et bien
            </strong>
          </h2>
          <% end %>
          <p>
            FoxFinder vous explique les astuces pour vendre vite et bien votre bien immobolier
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article12_path do %>
            <%= image_tag "imageblog/unnamed.jpg", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article12_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Les frais de notaires
            </strong>
          </h2>
          <% end %>
          <p>
            FoxFinder vous explique tout sur les frais de notaire
          </p>
        </div>
      </div>
      <div class="row fond-article">
        <div class="col-xs-12 col-sm-4">
          <div class="text-center">
            <%= link_to article13_path do %>
            <%= image_tag "imageblog/demenagement.png", height: 150, id: "logo", class: "text-center" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <%= link_to article13_path do%>
          <h2 style="font-size: 22px;" class="text-center">
            <strong>
              Comment rendre son déménagement moins stressant
            </strong>
          </h2>
          <% end %>
          <p>
            Voici 3 astuces pour vous aider à vous détendre tout en déménageant.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="enseblepub">
        <div class="compareruneagence">
          <h3 class="text-center">Les partenaires FoxFinder ont vendus plus de 1000 biens sur la métropole lilloise !</h3>
          <div class="text-center margin-top margin-foxfinder">
            <%= image_tag "logo.png", height: 100, id: "logo", class: "text-center" %>
          </div>
          <div class="margin-foxfinder-bouton text-center">
            <%= link_to "Trouver mon agence GRATUITEMENT", recherche_adresse_path, class: 'bouton-spécial-home-foxfinder-blog'%>
          </div>
        </div>
        <div class="text-center facebookcard">
          <div class="fb-page" data-href="https://www.facebook.com/Foxfinder.fr/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Foxfinder.fr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Foxfinder.fr/">FoxFinder</a></blockquote></div>
        </div>
      </div>
    </div>


  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- .fond-article {
  background-color: white;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 20px;
}

.compareruneagence {
  background-color: black;
  height: 100px;
  width: 100px;
  position: fixed;
}

.allindex {
  background-color: #EAEAEA;
}

#bouton-article {
  color: black;
} -->
