<%= params[:id] %>
<%= current_company.id %>
  <div class="content" style="margin-top: 0%; margin-right:0%; margin-left: 0%; padding-top: 0px;">
    <div class="resizedashboard">

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="header">
              <h3 class="title text-center" style="padding-top: 40px;">Informations de l'agence</h3>
            </div>
            <div class="content">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

              <div class="row" style="margin-top: 45px;">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.input :company_name, autofocus: true, label: "Nom de l'agence" %>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.input :address, :input_html =>{:id => 'address'}, autofocus: true, label: "Adresse" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.input :email, autofocus: true, label: "Adresse Email", required: true %>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>En attente de confirmation pour: <%= resource.unconfirmed_email %></p>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.input :phone, autofocus: true, label: "Téléphone" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%#= f.input :creation, autofocus: true, label: "Année de création de l'agence", placeholder: '2017', input_html: { max: 2017 } %>
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.input :website, autofocus: true, label: "Site Web" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.collection_select :negociators_id, Negociator.all, :id, :first_name, { selected: @company.negociators_id }, { class: 'form-control chosen-select' } %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">

          <%#= f.input :spec, as: :check_boxes,
          autofocus: true,
          label: "Activité(s)",
          collection: ["Vente", "Location", "Gestion", "Syndic"],
          input_html: { multiple: true },
          include_hidden: false
          %>
        </div>
      </div>
      <div class="col-sm-6">
        <%#= f.input :offer, autofocus: true, label: "Offre FoxFinder", placeholder: "Diagnostics offerts pour tout mandat exclusif" %>
        <a href="#moreinfos" class="btn btn-danger" data-toggle="collapse">+ d'infos</a>
        <div id="moreinfos" class="collapse">
          <%= f.input :siret, autofocus: true, label: "SIRET" %>
          <%= f.input :pro_card_nbr, autofocus: true, label: "Carte pro" %>
          <label>Pour modifier ces informations contactez nous</label>
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-6 col-sm-offset-0" style="width: 100%;">
        <div class="form-group">
          <label>Description de votre agence</label>
          <%= f.text_area :description, autofocus: true, label: "Bio", cols: "120", rows: "10" %>
        </div>
      </div>
    </div>

    <div class="row" style="margin: 15px 0;">
      <div class="col-sm-6">
        <div class="form-group">
          <%#= f.input :photo, as: :attachinary, label: "Logo" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%#= f.input :cover, as: :attachinary, label: "Photo de couverture" %>
        </div>
      </div>
    </div>

    <div class="header">
      <h3 class="title text-center">Modifier son mot de passe</h3>
    </div>



    <div class="row" style="margin: 15px 0;">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.input :current_password, required: false, hint: "", label: "Mot de passe actuel" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.input :password, autocomplete: "off", hint: "Laissez vide si vous ne voulez pas le changer", required: false, label: "Mot de passe" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.input :password_confirmation, required: false, label: "Confirmer votre mot de passe" %>
        </div>
      </div>

    </div>

    <div class="col-xs-12">
      <!-- <h3><b>Offre en cours :</b> -->
        <% if @company.premium == true %> <!-- ABONNER -->
        <!-- Offre Abonement
        <a href="#changeabo" class="btn btn-danger" data-toggle="collapse">Modifier mon abonement</a> -->

      </h3>
      <%#= render 'abo' %>



      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#changegratuit">Offre Gratuite</button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#apporteur">Offre Apporteur d'affaires</button>

    </div>
    <% elsif @company.premium == true %> <!-- APPORTEUR AFFAIRE -->
    <!-- Offre apporteur d'affaires
    <a href="#changeabo" class="btn btn-danger" data-toggle="collapse">Modifier mon abonnement</a> -->

  </h3>

  <%#= render 'apporteur' %>

  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#abonement">Offre Abonement</button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#changegratuit">Offre Gratuite</button>

</div>

</div>

<div class="clearfix"></div>
<% else %> <!-- GRATUIT -->
<!-- Offre Gratuite
<a href="#changeabo" class="btn btn-danger" data-toggle="collapse">Modifier mon abonement</a> -->


</h3>

<%#= render 'free' %>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#apporteur">Offre Abonement</button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#apporteur">Offre Apporteur d'affaires</button>

</div>
<% end %>
</div>

<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
  <%= f.button :submit, "Valider", class: "btn btn-fill callpremium btn-danger btn-lg" %>
</div>

<div class="clearfix"></div>
<% end %>


<div class="delete-compte">
  <p style="margin-top: 3%; font-size: 14px;"><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sure ?" }, method: :delete, class: "editlink" %></p>
</div>

<%#= render 'contact' %>



</div> <!-- fin du content -->
</div>
</div>
</div>
</div>
</div>



</div>
