<p id="notice"><%= notice %></p>

<h1>Company : <%= current_company.company_name  %> &  <%= current_company.email %> </h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody
      <tr>
        <td><%= current_company.email %></td>
        <td><%= link_to 'Show ', current_company %></td>
        <td><%= link_to 'Negociators ', company_negociators_path(current_company.id) %> </td>
        <td><%= link_to 'Properties ', company_properties_path(company_id: current_company.id) %> </td>
        <td><%= link_to 'Edit ', edit_company_path(current_company) %> </td>
        <td><%= link_to 'Destroy ', current_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<%= link_to t(".sign_in", default: "Se connecter user"), new_user_session_path, class: "btn btn-danger" %>
<%= link_to t(".sign_in", default: "Se connecter company"), new_company_session_path, class: "btn btn-danger" %>
<%= link_to  "Déconnexion user", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to  "Déconnexion company", destroy_company_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>

<br>
